<!DOCTYPE html>
<html>
  <head>
    <title>Employee Recognition Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<% if employee_signed_in? %>
    <%= link_to "Sign out", destroy_employee_session_path, method: :delete, data: {confirm: "Want to leave?"} %>
<% else %>
    <%= link_to "Sign in", new_employee_session_path %>
    <%= link_to "Register", new_employee_registration_path %>
<% end %>
    <%= yield %>
  </body>
</html>
